
/* 新增自定义样式 by wuyf 20170908*/
.nav-wrap{
	margin-left: 0px;
	margin-top: 20px;
}
.nav-title{
    float:left;
}
.nav-title .title{
    border-bottom:2px solid #1fb5ad;
    display:inline-block;
    margin-bottom:20px;
    padding-bottom: 2px;
    font-size: 16px;
    color: #333;
}
.nav-wrap .btn{
    float:right;
    margin-left: 10px;
}

.light-bg{
	background-color: #ffffff;
}

.item-box{
	padding:20px 40px;
}

.item-box .box-title, .panel-body .box-title{
    color: #333;
    font-size: 16px;
    margin-bottom: 20px;
}

/* tab样式 */
.tab-list{
	height: 45px;
	line-height: 45px;
	font-size: 16px;
	border-bottom: 1px solid #dbdbdb;
}
.tab-list .tab-item{
	display: inline-block;
	width: 110px;
	text-align: center;
	cursor: pointer;
}
.tab-list .tab-item.active{
	color: #1fb5ad;
	border-bottom:2px solid #1fb5ad;
}

.tab-content{
	position: absolute;
	width: 98%;
}
.has-header{
	top:85px;
}
/* 搜索框 */
.search-box .form-group{
	margin-right: 10px;
}

.fr{
	float:right;
}
.fl{
	float:left;
}

.btn-refresh{
	background-color: #ffffff;
	color: #2eaced;
	border:1px solid #2eaced;
}

/* 表格样式*/
.table-new thead tr th{
	background-color: #eeeeee;
}

.table-new tbody tr:hover,.table-striped tbody tr:hover,.table-striped tbody tr:hover td{
	background-color: #ffcece;
}

.table-new tbody tr td{
	font-size: 12px;
	font-family: "宋体";
}

.link{
	color:#1192ff;
}
.link:hover{
	color:#ff8167;
	text-decoration: underline;
}
/* 统计数据 */
.table-count tr th{
	background: #f2f2f2;
    color: #333;
    font-size: 14px;
}
.table-count tr td{
	font-size: 12px;
	font-family: "宋体";
}
/* 定位input后面的单位 */
.input-position{
	position: relative;
}
.input-position input{
	padding-right: 15px;
}
.input-position .input-span{
	position: absolute;
	right: 5px;
	top: 9px;
}

/* 弹窗表单样式 */
.form-model .form-group{
	margin-bottom: 10px;
	margin-left:10px;
}
.form-model .form-group .control-label{
	width:75px;
}

.borrowbox{
	margin-top:10px;
	padding:10px;
	border:1px solid #dbdbdb;
	display:flex;
	flex-wrap:wrap;
}

.borrowbox .item{
	width:170px;
	margin-bottom: 10px;
}

.borrowbox .item span{
	margin-left: 10px;
}

/* 改写搜索下拉框样式 */
.searchSelect .select2-choice{
	height: 34px;
	border: 1px solid #e2e2e4;
	line-height: 34px;
	background-image: none;
	border-radius: 4px;
}
.searchSelect .select2-choice .select2-arrow{
	border-left: 1px solid #e2e2e4;
}

/* 详情页 */
.list-vertical{
	color:#333;
	font-size: 14px;
}

.list-vertical li{
	height: 50px;
	line-height: 50px;
	border:1px solid #dbdbdb;
	width:440px;
}
.list-vertical li+li{
	border-top:none;
}
.list-vertical li .list-item{
	float: left;
	padding-left: 20px;
	height: 48px;
	width: 218px;
}
.list-vertical li  .header{
	border-right: 1px solid #dbdbdb;
	background-color: #f2f2f2;
}

/* 改写表单校验样式 */
.help-block {
    float: left;
}

.table-center{
	text-align: center;
}
.table-center th{
	text-align: center;
}

.table-center tr td.htd{
	color: #333;
    font-weight: bold;
}

.search-line{
	margin-bottom: 20px;
}
.search-line a{
	margin-right: 15px;
}
.search-line a.active{
	color:red;
}

/* 登录 */
.login-body{
	padding-top: 220px;
	background:url(../images/login_bg.png) no-repeat center top;
	background-attachment: fixed;
	background-size: cover;
	
}
.login-body .login_box{
	position: relative;
	margin:0 auto;
	background: #fff;
	padding-top: 35px;
	width: 770px;
	height: 360px;
	border-radius: 10px;
	text-align: center;
}

.login-body .login_box .error{
	margin-top: 30px;
	color: #d70000;
}

.login-body .login_box .loginImg{
	position: absolute;
	left: -110px;
	top:-105px;
}
.login-body .login_box .form-signin-heading{
	display: inline-block;
	position: relative;
	font-size: 32px;
	color:#333;
}
.login-body .login_box .form-signin-heading:before{
	content: "";
	background:#1898ff;
	position:absolute;
	width:135px;
	height:3px;
	top:45px;
}

.login-body .login_box .login-wrap .login-input{
	padding-left: 15px;
	margin-bottom: 15px;
	width: 405px;
	height: 39px;
	line-height: 39px;
	border-radius: 30px;
	border: 1px solid #ececec;
	color: #666666;
}

.login-body .login_box .login-wrap .login-input:focus{
	border: 1px solid #3aa7ff;
	color: #3aa7ff;
	box-shadow: 0px 0px 5px 1px #3aa7ff;
}

.login-body .login_box .login-wrap .btn-wrap{
	margin-top: 20px;
}

.login-body .login_box .login-wrap .btn{
	display: inline-block;
	width: 200px;
	height: 40px;
	line-height: 40px;
	font-size: 18px;
	border-radius: 20px;
	border:none;
}
.login-body .login_box .login-wrap .login-submit{
	margin-right: 15px;
	color: #fff;
	background: url(../images/login_btn.png) no-repeat center center;
		
}
.login-body .login_box .login-wrap .login-reset{
	color: #999;
	background: #ddd;
}